body , html{
  margin:0;
  padding:0;
}

h1{
  font-family: Mukta Mahee;
  font-size:50px;
  color:white;
  margin:0px;
  text-align:center;
  display: table-cell;
  vertical-align: middle;
  letter-spacing:8px;
}

a{
  text-decoration: none;
}

#box1 {
  background: url('../img/b1.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: table;
  background-attachment: fixed;
}

#box2 {
  background: url('../img/b2.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: table;
  background-attachment: fixed;
}

#box3 {
  background: url('../img/b3.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: table;
  background-attachment: fixed;
}

#box4 {
  background: url('../img/b4.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: table;
  background-attachment: fixed;
}

#box5 {
  background: url('../img/b5.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: table;
  background-attachment: fixed;
}
