body, html {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: Mukta Mahee;
	font-size: 50px;
	color: white;
	margin: 0;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	letter-spacing: 8px;
}

a {
	text-decoration: none;
}

.box {
	height: 100vh;
	width: 100%;
	display: table;
}

#about {
	background: url('../images/about_background.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

#places {
	background: url('../images/places_background.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

#fairy-tales {
	background: url('../images/fairy_tales_background.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

#contact {
	background: url('../images/contact_background.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

#coming-soon {
	background: url('../images/coming_soon_background.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}